﻿@page "/students"
@rendermode InteractiveServer
@using CoursesApp.Components.Models
@inject HttpClient Http

<h3>Students</h3>

<button @onclick="ShowCreateStudentForm">Create Student</button>

@if (students == null)
{
    <p><em>Loading...</em></p>
}
else if (showCreateForm)
{
    <form @onsubmit="HandleCreateStudent">
        <input type="text" @bind="newStudent.Name" placeholder="Name" />
        <input type="text" @bind="newStudent.Surname" placeholder="Surname" />
        <input type="email" @bind="newStudent.Email" placeholder="Email" />
        <input type="text" @bind="newStudent.DocumentNumber" placeholder="Document Number" />
        <input type="date" @bind="newStudent.BirthDay" />

        <button type="submit">Submit</button>
    </form>
}
else if (showUpdateForm)
{
    <form @onsubmit="UpdateStudent">
        <input type="text" @bind="editableStudent.Name" placeholder="Name" />
        <input type="text" @bind="editableStudent.Surname" placeholder="Surname" />
        <input type="email" @bind="editableStudent.Email" placeholder="Email" />
        <input type="text" @bind="editableStudent.DocumentNumber" placeholder="Document Number" />
        <input type="date" @bind="editableStudent.BirthDay" />

        <button type="submit">Save Changes</button>
        <button @onclick="() => { showUpdateForm = false; }">Cancel</button>
    </form>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Document Number</th>
                <th>Birth Day</th>
                <th>ID</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in students)
            {
                <tr>
                    <td>@student.Name</td>
                    <td>@student.Surname</td>
                    <td>@student.Email</td>
                    <td>@student.DocumentNumber</td>
                    <td>@student.BirthDay?.ToString("yyyy-MM-dd")</td>
                    <td>@student.Id</td>
                    <td>@student.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>
                        <button @onclick="() => BeginUpdateStudent(student.Id)">Update</button>
                        <button @onclick="() => DeleteStudent(student.Id)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private bool showCreateForm = false;
    private List<Student> students;
    private Student newStudent = new Student();
    private Student editableStudent;
    private bool showUpdateForm = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await Http.GetFromJsonAsync<Response>("https://localhost:7245/api/Students");
            if (response != null && response.Status == 200)
            {
                students = response.Data;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching students: {ex.Message}");
        }
    }

    protected void ShowCreateStudentForm()
    {
        Console.WriteLine("Button clicked"); // For server-side console output
        showCreateForm = true; // Directly set to true for testing
    }

    protected async Task HandleCreateStudent()
    {
        var response = await Http.PostAsJsonAsync("https://localhost:7245/api/Students", newStudent);

        if (response.IsSuccessStatusCode)
        {
            // Refresh the students list
            await OnInitializedAsync();
            showCreateForm = false; // Hide the form after submission
        }
        else
        {
            // Handle the error
            Console.WriteLine($"Error creating student: {response.ReasonPhrase}");
        }
    }

    private async Task DeleteStudent(int studentId)
    {
        var response = await Http.DeleteAsync($"https://localhost:7245/api/Students/{studentId}");

        if (response.IsSuccessStatusCode)
        {
            // Refresh the students list
            students = students.Where(s => s.Id != studentId).ToList();
        }
        else
        {
            // Handle the error
            Console.WriteLine($"Error deleting student: {response.ReasonPhrase}");
        }
    }

    private void BeginUpdateStudent(int studentId)
    {
        // Find the student in the list
        editableStudent = students.FirstOrDefault(s => s.Id == studentId);

        // If the student exists, set showUpdateForm to true to show the form
        if (editableStudent != null)
        {
            showUpdateForm = true;
        }
    }

    private async Task UpdateStudent()
    {
        // Assuming you have a method on your API that accepts a PUT request to update a student
        var response = await Http.PutAsJsonAsync($"https://localhost:7245/api/Students/{editableStudent.Id}", editableStudent);

        if (response.IsSuccessStatusCode)
        {
            // Hide the update form
            showUpdateForm = false;

            // Refresh the students list to reflect the updated details
            await OnInitializedAsync();
        }
        else
        {
            // Handle the error
            Console.WriteLine($"Error updating student: {response.ReasonPhrase}");
        }
    }
}